name: Lint

on:
  pull_request:
  push:
    branches:
      - 'release/**'
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  super-lint:
    name: Super-Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          OUTPUT_FORMAT: github-pr-review
          FILTER_REGEX_EXCLUDE: '^(target|node_modules|frontend/build|.*?/target)/'
